<%= turbo_frame_tag "side_panel" do %>
  <div data-controller="side-panel" data-action="keyup@window->side-panel#closeOnEscape click@window->side-panel#closeOnClick" class="group relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500/75 transition-opacity ease-in-out duration-500 opacity-0 group-data-[complete=true]:opacity-100" aria-hidden="true"></div>
    <div class="fixed inset-0 overflow-hidden">
      <div class="absolute inset-0 overflow-hidden">
        <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
          <div data-side-panel-target="panel" class="pointer-events-auto w-[50vw] transform transition ease-in-out duration-500 translate-x-full group-data-[complete=true]:translate-x-0">
            <div class="flex h-full flex-col overflow-y-scroll bg-white py-6 shadow-xl">
              <div class="px-4 sm:px-6">
                <div class="flex items-start justify-between">
                  <h2 class="text-lg font-semibold text-gray-900" id="slide-over-title">
                    <%= title(params[:skill]) %>
                  </h2>
                  <div class="ml-3 flex h-7 items-center">
                    <button data-action="click->side-panel#hidePanel" type="button" class="relative rounded-md bg-white text-gray-400 hover:text-gray-500 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:outline-hidden">
                      <span class="absolute -inset-2.5"></span>
                      <span class="sr-only">Close panel</span>
                      <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div class="relative mt-6 flex-1 px-4 sm:px-6">
                <%= image_tag("showcase/#{params[:skill].downcase}.png") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
